@model SalesManagementSystem.Models.SaleChargeType

@{
    ViewData["Title"] = "Charge Type Details";
}

<div class="container mt-4">
    <h2>Charge Type Details</h2>

    <dl class="row">
        <dt class="col-sm-3">Id</dt>
        <dd class="col-sm-9">@Model.ChargeTypeId</dd>

        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9">@Model.ChargeTypeName</dd>

        <dt class="col-sm-3">Active</dt>
        <dd class="col-sm-9">@Model.IsActive</dd>
    </dl>

    <a asp-action="Edit" asp-route-id="@Model.ChargeTypeId" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</div>

