@model SalesManagementSystem.Models.SaleAcct

@{
    ViewData["Title"] = "Edit Sale";
}

<div class="container mt-4">
    <h2>Edit Sale</h2>

    <form asp-action="Edit">
        <input type="hidden" asp-for="Id" />

        <div class="row">

            <div class="col-md-4">
                <label>Product Id</label>
                <input asp-for="ProductId" class="form-control" />
            </div>

            <div class="col-md-4">
                <label>Qty Sold</label>
                <input asp-for="QtySold" class="form-control" />
            </div>

            <div class="col-md-4">
                <label>Sold Amount</label>
                <input asp-for="SoldAmount" class="form-control" />
            </div>

            <div class="col-md-4 mt-3">
                <label>Cost Amount</label>
                <input asp-for="CostAmount" class="form-control" />
            </div>

            <div class="col-md-4 mt-3">
                <label>Status ID</label>
                <input asp-for="Status" class="form-control" />
            </div>

        </div>

        <br />
        <button type="submit" class="btn btn-warning">Update</button>
        <a asp-action="Index" class="btn btn-secondary">Back</a>
    </form>
</div>