@model SalesManagementSystem.Models.SaleCharge

@{
    ViewData["Title"] = "Edit Charge";
}

<div class="container mt-4">
    <h2>Edit Charge</h2>

    <form asp-action="Edit" asp-route-id="@Model.SaleChargeId" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="SaleChargeId" />

        <div class="row">
            <div class="col-md-6">
                <label class="form-label">Sale</label>
                <select asp-for="SaleId" class="form-select" asp-items="ViewBag.Sales"></select>
            </div>

            <div class="col-md-6">
                <label class="form-label">Charge Type</label>
                <select asp-for="ChargeTypeId" class="form-select" asp-items="ViewBag.ChargeTypes"></select>
            </div>

            <div class="col-md-3 mt-3">
                <label class="form-label">Amount</label>
                <input asp-for="Amount" class="form-control" />
            </div>

            <div class="col-md-9 mt-3">
                <label class="form-label">Remarks</label>
                <input asp-for="Remarks" class="form-control" />
            </div>
        </div>

        <div class="mt-3">
            <button type="submit" class="btn btn-warning">Update</button>
            <a asp-controller="SaleAcct" asp-action="Edit" asp-route-id="@Model.SaleId" class="btn btn-secondary">Back</a>
        </div>
    </form>
</div>

